force-app/main/default/flows/SFS_Demo_Lab_Get_Contact_Timezone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lookup_Timezone_from_Coordinates</name>
        <label>Lookup Timezone from Coordinates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TimezoneFromCoordinatesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lookup_Succeeded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>epochSeconds</name>
            <value>
                <elementReference>inEpochSeconds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>latitude</name>
            <value>
                <elementReference>inLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>longitude</name>
            <value>
                <elementReference>InLongitude</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimezoneFromCoordinatesFlowAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>HttpStatusCode</assignToReference>
            <name>httpStatusCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varLookupSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varLookupMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAddressTimezoneAbbreviation</assignToReference>
            <name>timezoneAbbreviation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAddressTimezoneIana</assignToReference>
            <name>timezoneIana</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Lookup_Succeeded</name>
        <label>Lookup Succeeded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLookupSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Address_Timezone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>update contact timezone  on create or when address changes</description>
    <environments>Default</environments>
    <interviewLabel>SFS Demo Lab: Get Contact Timezone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Demo Lab: Get Contact Timezone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Address_Timezone</name>
        <label>Update Contact Address Timezone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Timezone_Abbreviation__c</field>
            <value>
                <elementReference>varAddressTimezoneAbbreviation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Timezone__c</field>
            <value>
                <elementReference>varAddressTimezoneIana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_UTC_Offset_Seconds__c</field>
            <value>
                <elementReference>varAddressUtcOffsetSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_Source__c</field>
            <value>
                <stringValue>Address</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MailingLatitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingLongitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Lookup_Timezone_from_Coordinates</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>HttpStatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inEpochSeconds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>InLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>varAddressTimezoneAbbreviation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressTimezoneIana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddressUtcOffsetSeconds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLookupMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLookupSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
