force-app/main/default/flows/Util_Contact_BrowserTimezone_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Resolve_Browser_Timezone</name>
        <label>Resolve Browser Timezone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BrowserTimezoneFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Valid_Teimezone</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>timezoneIana</name>
            <value>
                <elementReference>inBrowserTimezoneIana</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>utcOffsetMinutes</name>
            <value>
                <elementReference>inBrowserUtcOffsetMinutes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrowserTimezoneFlowAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varIsValidTimezone</assignToReference>
            <name>isValidTimezone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResolvedTimezoneIana</assignToReference>
            <name>timezoneIana</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResolvedUtcOffsetMinutes</assignToReference>
            <name>utcOffsetMinutes</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Valid_Teimezone</name>
        <label>Valid Teimezone?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsValidTimezone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Browser_Timezone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Util_Contact_BrowserTimezone_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Util_Contact_BrowserTimezone_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Browser_Timezone</name>
        <label>Update Contact Browser Timezone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Browser_Timezone__c</field>
            <value>
                <elementReference>varResolvedTimezoneIana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Browser_UTC_Offset_Minutes__c</field>
            <value>
                <elementReference>varResolvedUtcOffsetMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timezone_Source__c</field>
            <value>
                <stringValue>Browser</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resolve_Browser_Timezone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inBrowserTimezoneIana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inBrowserUtcOffsetMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsValidTimezone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResolvedTimezoneIana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResolvedUtcOffsetMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
